<div class="container">
  <div class="logo">
    <a href="/" title="主题之家">主题之家 </a>
  </div>
  {{ partial "main-menu.html" . }}
  <div class="submit">
    <a class="submit-button submit-button-mobile" href="https://wj.qq.com/s2/9079398/5624/" rel="nofollow">提交</a>
    <a class="submit-button submit-button-desktop" href="https://wj.qq.com/s2/9079398/5624/" rel="nofollow">提交主题</a>
    <a class="github" href="https://github.com/stackbit/jamstackthemes" rel="nofollow"><img width="26" height="26" alt="Github Repo" src="{{ "images/icons/github.svg" | relURL }}"/></a>
  </div>
</div>
